body {
  font: 100% Nunito, sans-serif;
  color: #333;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em; }

.login {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }
  .login .iconHeader {
    height: 120px;
    position: absolute;
    width: 400px;
    z-index: 3;
    left: 50%;
    margin-left: -200px;
    top: 27px; }
  .login > .loginHeader {
    position: relative;
    height: 225px;
    background: linear-gradient(rgba(185, 185, 185, 0.5), rgba(185, 185, 185, 0.5)), url("../images/Oak-Home.jpg");
    background-repeat: no-repeat;
    background-position: 100% 61%;
    -webkit-filter: blur(10px);
    margin: -10px;
    -moz-filter: 10px;
    -o-filter: 10px;
    -ms-filter: 10px;
    filter: 10px; }
  .login > .loginPanel {
    position: relative;
    background: #212121;
    height: 100%; }
    .login > .loginPanel > .profilePic {
      position: absolute;
      width: 90px;
      top: -58px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.9);
      -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.9);
      box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.9);
      left: 50%;
      margin-left: -45px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1; }
      .login > .loginPanel > .profilePic img {
        width: 100%;
        margin-bottom: -1px; }
    .login > .loginPanel form {
      font-family: Raleway;
      width: 450px;
      background: #fff;
      position: relative;
      padding: 2em 3em;
      letter-spacing: 0.05em;
      -webkit-box-shadow: 0px 5px 20px 5px rgba(19, 19, 19, 0.75);
      -moz-box-shadow: 0px 5px 20px 5px rgba(19, 19, 19, 0.75);
      box-shadow: 0px 5px 20px 5px rgba(19, 19, 19, 0.75);
      margin: auto;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
      .login > .loginPanel form h2 {
        text-align: center;
        font-size: 47px; }
      .login > .loginPanel form .form-group {
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.7);
        -moz-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.7);
        box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.7); }
      .login > .loginPanel form .form-group:last-child {
        margin-bottom: 0;
        margin-top: 3em; }
      .login > .loginPanel form span {
        padding: 1px 15px;
        position: absolute;
        background: #00E676;
        color: #fff;
        border: none;
        font-size: 40px; }
        .login > .loginPanel form span ~ input {
          font-size: 18px;
          background: #EEEEEE;
          color: #000;
          padding-left: 65px; }
        .login > .loginPanel form span ~ input:hover, .login > .loginPanel form span ~ input.active, .login > .loginPanel form span ~ input:active, .login > .loginPanel form span ~ input:visited, .login > .loginPanel form span ~ input:focus {
          outline: 0; }
        .login > .loginPanel form span ~ input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #BDBDBD; }
        .login > .loginPanel form span ~ input::-moz-placeholder {
          /* Firefox 19+ */
          color: #BDBDBD; }
        .login > .loginPanel form span ~ input:-ms-input-placeholder {
          /* IE 10+ */
          color: #BDBDBD; }
        .login > .loginPanel form span ~ input:-moz-placeholder {
          /* Firefox 18- */
          color: #BDBDBD; }
      .login > .loginPanel form button {
        background: #00E676;
        font-size: 28px;
        text-transform: capitalize; }
      .login > .loginPanel form input, .login > .loginPanel form button {
        padding: 14px 22px;
        width: 100%;
        border: none;
        font-style: uppercase; }

.mainContainer {
  font-size: 14px;
  position: absolute;
  min-height: 100%;
  left: 0;
  right: 0;
  background: #f0f0f0;
  overflow: hidden; }
  .mainContainer .sidebar {
    background: #212121;
    position: absolute;
    width: 115px;
    bottom: 0;
    top: 0;
    z-index: 2; }
    .mainContainer .sidebar > ul {
      padding: 0; }
      .mainContainer .sidebar > ul > li, .mainContainer .sidebar > ul > div > li {
        position: relative; }
        .mainContainer .sidebar > ul > li a, .mainContainer .sidebar > ul > div > li a {
          position: relative;
          display: block;
          width: 100%;
          border-left: 5px solid #212121;
          border-right: 5px solid #212121;
          color: #616161;
          text-align: center;
          min-height: 70px;
          padding: 5px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .mainContainer .sidebar > ul > li a img, .mainContainer .sidebar > ul > div > li a img {
            width: 100%; }
          .mainContainer .sidebar > ul > li a .icon, .mainContainer .sidebar > ul > div > li a .icon {
            font-size: 30px; }
          .mainContainer .sidebar > ul > li a span, .mainContainer .sidebar > ul > div > li a span {
            font-size: 14px; }
        .mainContainer .sidebar > ul > li > a.active, .mainContainer .sidebar > ul > li div li a.active, .mainContainer .sidebar > ul > div > li > a.active, .mainContainer .sidebar > ul > div > li div li a.active {
          text-decoration: none;
          border-left: 5px solid #4CAF50; }
          .mainContainer .sidebar > ul > li > a.active .icon, .mainContainer .sidebar > ul > li div li a.active .icon, .mainContainer .sidebar > ul > div > li > a.active .icon, .mainContainer .sidebar > ul > div > li div li a.active .icon {
            color: #4CAF50; }
          .mainContainer .sidebar > ul > li > a.active span, .mainContainer .sidebar > ul > li div li a.active span, .mainContainer .sidebar > ul > div > li > a.active span, .mainContainer .sidebar > ul > div > li div li a.active span {
            color: #fff; }
        .mainContainer .sidebar > ul > li a.sidebar-logo, .mainContainer .sidebar > ul > div > li a.sidebar-logo {
          padding: 0; }
          .mainContainer .sidebar > ul > li a.sidebar-logo > img, .mainContainer .sidebar > ul > div > li a.sidebar-logo > img {
            padding: 10px; }
        .mainContainer .sidebar > ul > li > ul.sub-menu, .mainContainer .sidebar > ul > div > li > ul.sub-menu {
          position: absolute;
          width: 116px;
          left: 115px;
          top: 0;
          padding: 0;
          list-style-type: none;
          background: #212121;
          display: none; }
          .mainContainer .sidebar > ul > li > ul.sub-menu > li, .mainContainer .sidebar > ul > div > li > ul.sub-menu > li {
            width: 100%; }
            .mainContainer .sidebar > ul > li > ul.sub-menu > li > a, .mainContainer .sidebar > ul > div > li > ul.sub-menu > li > a {
              position: relative;
              display: block;
              width: 100%;
              color: #616161;
              min-height: 35px;
              border-left: 5px solid #212121;
              padding: 10px; }
            .mainContainer .sidebar > ul > li > ul.sub-menu > li > a.active, .mainContainer .sidebar > ul > li > ul.sub-menu > li > a:hover, .mainContainer .sidebar > ul > li > ul.sub-menu > li > a:focus, .mainContainer .sidebar > ul > li > ul.sub-menu > li > a:visited, .mainContainer .sidebar > ul > div > li > ul.sub-menu > li > a.active, .mainContainer .sidebar > ul > div > li > ul.sub-menu > li > a:hover, .mainContainer .sidebar > ul > div > li > ul.sub-menu > li > a:focus, .mainContainer .sidebar > ul > div > li > ul.sub-menu > li > a:visited {
              text-decoration: none;
              color: #fff;
              border-left: 5px solid #4CAF50; }
      .mainContainer .sidebar > ul > li:hover > ul.sub-menu, .mainContainer .sidebar > ul div li:hover > ul.sub-menu {
        display: block; }
      .mainContainer .sidebar > ul > li:hover > a, .mainContainer .sidebar > ul div li:hover > a {
        text-decoration: none;
        border-left: 5px solid #4CAF50;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .mainContainer .sidebar > ul > li:hover > a .icon, .mainContainer .sidebar > ul div li:hover > a .icon {
          color: #4CAF50;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .mainContainer .sidebar > ul > li:hover > a span, .mainContainer .sidebar > ul div li:hover > a span {
          color: #fff;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
      .mainContainer .sidebar > ul .fixbot {
        position: absolute;
        width: 100%;
        bottom: 0; }
      .mainContainer .sidebar > ul .fixbot:before {
        content: '...';
        width: 100%;
        display: block;
        color: #616161;
        text-align: center;
        font-size: 30px;
        height: 16px;
        line-height: 0; }
  .mainContainer .mainBody {
    float: left;
    padding-left: 115px;
    width: 100%;
    position: relative;
    min-height: 600px;
    z-index: 1; }
    .mainContainer .mainBody .header {
      float: left;
      width: 100%;
      background: #73D077;
      padding: 1em 1.5em;
      height: 115px;
      height: 100px;
      position: relative;
      letter-spacing: 2px;
      color: #fff;
      -webkit-box-shadow: 0px 2px 5px 0px #505050;
      -moz-box-shadow: 0px 2px 5px 0px #505050;
      box-shadow: 0px 2px 5px 0px #505050; }
      .mainContainer .mainBody .header .site-name {
        float: left;
        width: 100%;
        font-family: Raleway; }
      .mainContainer .mainBody .header h1 {
        font-family: Raleway;
        text-transform: capitalize;
        text-shadow: 2px 2px 1px #5E9A61;
        margin: 0;
        line-height: 79px;
        font-size: 50px;
        display: inline-block; }
      .mainContainer .mainBody .header .userToggle {
        float: right;
        position: absolute;
        right: 50px;
        bottom: 18px;
        width: 131px; }
        .mainContainer .mainBody .header .userToggle > a {
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
          border: 1px solid #fff;
          text-decoration: none; }
        .mainContainer .mainBody .header .userToggle > a:hover {
          background: #67B96A; }
    .mainContainer .mainBody .body {
      padding: 1em;
      max-width: 1178px;
      width: 100%;
      float: left; }
      .mainContainer .mainBody .body .panel {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(200, 200, 200, 0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(200, 200, 200, 0.75);
        box-shadow: 0px 2px 5px 0px rgba(200, 200, 200, 0.75); }
        .mainContainer .mainBody .body .panel .panel-heading {
          font-weight: bold;
          letter-spacing: 0.4px;
          font-size: 15px;
          color: #212121;
          line-height: 32px;
          height: 54px; }
          .mainContainer .mainBody .body .panel .panel-heading .icon {
            font-size: 33px;
            color: #69F0AE;
            float: left;
            margin: 0 7px 0 -7px; }
      .mainContainer .mainBody .body .form-horizontal .form-group {
        margin: 0 0 10px 0; }
        .mainContainer .mainBody .body .form-horizontal .form-group label {
          font-weight: 600;
          letter-spacing: 0.2px;
          font-size: 12px;
          color: #5D5D5D; }
        .mainContainer .mainBody .body .form-horizontal .form-group .form-input {
          width: 100%;
          border: 0;
          padding: 8px 10px;
          background: #EEEEEE;
          border-radius: 0px;
          border-bottom: 1px solid #EEEEEE;
          -webkit-box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.5);
          -moz-box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.5);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .mainContainer .mainBody .body .form-horizontal .form-group .btn-submit {
          background: #42A5F5;
          color: #E3F2FD;
          width: 100%;
          margin-top: 10px;
          -webkit-box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.5);
          -moz-box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.5);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .mainContainer .mainBody .body .form-horizontal .form-group .btn-submit:hover,
        .mainContainer .mainBody .body .form-horizontal .form-group .btn-submit:focus,
        .mainContainer .mainBody .body .form-horizontal .form-group .btn-submit:visited {
          background: #2196F3; }
        .mainContainer .mainBody .body .form-horizontal .form-group .form-input:hover,
        .mainContainer .mainBody .body .form-horizontal .form-group .form-input:focus,
        .mainContainer .mainBody .body .form-horizontal .form-group .form-input:visited {
          outline: 0;
          border-bottom: 1px solid #00FF14; }

/*# sourceMappingURL=styles.css.map */
