$font-stack:    Nunito, sans-serif;
$primary-color: #333;

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }

    @mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

	@mixin all-transition(){
		-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;    
    transition: all 0.3s ease-in-out;
	}

 @mixin blur($px)  {
    	         -webkit-filter: blur($px);
		         margin:-$px;
		  -moz-filter: $px;
		  -o-filter: $px;
		  -ms-filter: $px;
		  filter: $px;
    }

body {
  font: 100% $font-stack;
  color: $primary-color;
      font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}


.login{
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    .iconHeader{
        height: 120px;
    position: absolute;
    width: 400px;
    z-index: 3;
    left: 50%;
    margin-left: -200px;
    top: 27px;
    }

    > .loginHeader{
    	    position: relative;
        height: 225px;
     background: linear-gradient( rgba(185, 185, 185, 0.5), rgba(185, 185, 185, 0.5) ), url('../images/Oak-Home.jpg');
    background-repeat: no-repeat;
        background-position: 100% 61%;
        @include blur(10px);

    }

    > .loginPanel{
    	position: relative;
    	background: #212121;
    	height: 100%;

    	> .profilePic{
		    position: absolute;
		    width: 90px;
    		top: -58px;
		    @include box-shadow(  0px, 2px, 5px, 0px, rgba(50, 50, 50, 0.9));
		    left: 50%;
		        margin-left: -45px;
		    border-radius: 50%;
    		overflow: hidden;
    		    z-index: 1;

		    img {
		    	width: 100%;
    			margin-bottom: -1px;
		    }
    	}

    	form{
    		font-family: Raleway;
    		width: 450px;
		    background: #fff;
		    position: relative;
		       padding: 2em 3em;
		        letter-spacing: 0.05em;
		    @include box-shadow(  0px, 5px, 20px, 5px, rgba(19, 19, 19, 0.75));
		    margin:auto;
		    @include border-radius(4px);

		    h2{
		    	text-align: center;
    			font-size: 47px;
		    }

		    .form-group{
		    	    border-radius: 6px;
		    position: relative;
		        overflow: hidden;
		        @include box-shadow(  0px, 2px, 5px, 0px, rgba(100, 100, 100, 0.7));
		    }

		    .form-group:last-child{
		    	  margin-bottom:0;
		    	    margin-top: 3em;

		    }

		    span{
		    	padding: 1px 15px;
			    position: absolute;
			    background: #00E676;
			    color: #fff;
			    border: none;
			    font-size: 40px;

			    ~ input{
			    	  font-size: 18px;
			    	background: #EEEEEE;
			    	color:#000;
			    	padding-left: 65px;


			    }

			    ~ input:hover,~ input.active, ~ input:active, ~ input:visited, ~input:focus{
						outline:0;
					}

			    	~ input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #BDBDBD;
					}
					~ input::-moz-placeholder { /* Firefox 19+ */
					  color: #BDBDBD;
					}
					~ input:-ms-input-placeholder { /* IE 10+ */
					  color: #BDBDBD;
					}
					~ input:-moz-placeholder { /* Firefox 18- */
					  color: #BDBDBD;
					}


		    }

		    button{
		        background: #00E676;
			    font-size: 28px;
			    text-transform: capitalize;

		    }

		    input,button{
		    	padding: 14px 22px;
			    width: 100%;
			  
			    border:none;
			    font-style: uppercase;
		    }
    	}
    }
}

.mainContainer{

	    font-size: 14px;
    position: absolute;
    min-height: 100%;
        left: 0;
    right: 0;
    background: #f0f0f0;
        overflow: hidden;

	.sidebar{
		    background: #212121;
    position: absolute;
    width: 115px;
    bottom: 0;
    top: 0;
    z-index: 2;
    	> ul{
    		padding: 0;

    		> li, > div > li{
    			position: relative;

    			 a{
    				position: relative;
				    display: block;
				    width: 100%;
				    border-left: 5px solid #212121;
    				border-right: 5px solid #212121;
    				color: #616161;
    				text-align: center;
    				min-height: 70px;
    				padding: 5px;
    				@include all-transition();

				    img{
				    	width: 100%;
				    }

				    .icon{
				    	font-size: 30px;
				    }

				    span{
				    	font-size: 14px;
				    }


    			}

    			> a.active, div li a.active{
    				text-decoration: none;
    				border-left:5px solid #4CAF50;

    				.icon{
    					color:#4CAF50;
    				}

    				span{
    					color:#fff;
    				}

    			}


    			a.sidebar-logo{
    				padding:0;
    					> img{
    						padding: 10px;	
    					}
    				    
    			}

  				> ul.sub-menu{

				   	position: absolute;
					width: 116px;
					left: 115px;
					top:0;
					padding:0;
					list-style-type: none;
					background: #212121;
					display: none;

				    	> li{
				    		width:100%;

				    		> a{
				    			position: relative;
							    display: block;
							    width: 100%;
							    color: #616161;
							    min-height: 35px;
							    border-left: 5px solid #212121;
							    padding: 10px;
				    		}

				    		> a.active, > a:hover, > a:focus, > a:visited{
				    			text-decoration: none;
				    			color:#fff;
    							border-left:5px solid #4CAF50;
				    		}
				    	}
				    }
    		}

    		> li:hover, div li:hover{
    			> ul.sub-menu{
    				display: block;
    			}

    			> a{
    				text-decoration: none;
    				border-left:5px solid #4CAF50;
    				@include all-transition();
    				.icon{
    					color:#4CAF50;
    					@include all-transition();
    				}

    				span{
    					color:#fff;
    					@include all-transition();
    				}

    			}
    		}


    		.fixbot{
    			position: absolute;
			    width: 100%;
			    bottom: 0;
    		}
    		.fixbot:before{
    			content: '...';
			    width: 100%;
			    display: block;
			    color: #616161;
			    text-align: center;
			    font-size: 30px;
			    height: 16px;
			    line-height: 0;
    		}
    	}
	}

	.mainBody{
	    float: left;
    padding-left: 115px;
    width: 100%;
    position: relative;
        min-height: 600px;
    
    z-index: 1;

    	.header{
    	float: left;
	    width: 100%;
	    background: #73D077;
	    padding: 1em 1.5em;
	    height: 115px;
   		height: 100px;
   		position: relative;
   		    letter-spacing: 2px;
   		    color: #fff;

   		@include box-shadow(  0px, 2px, 5px, 0px, rgba(80, 80, 80, 1));

   		.site-name{
   			float: left;
    		width: 100%;
    		font-family: Raleway;
   		}

    	h1{
    	    
		    font-family: Raleway;
		    text-transform: capitalize;
		    text-shadow: 2px 2px 1px #5E9A61;
		    margin: 0;
		    line-height: 79px;
		    font-size: 50px;
		    display: inline-block;
    	}

    	.userToggle{
    		float: right;
		    position: absolute;
		    right: 50px;
		    bottom: 18px;
		        width: 131px;
		    > a{
		    	color: #fff;
		    	padding: 5px 10px;
			    border-radius: 4px;
			    border: 1px solid #fff;
			    text-decoration: none;
		    }

		    > a:hover{
		    	background: #67B96A;
		    }
    	}

    	}


    	.body{
    		padding: 1em;
		    max-width: 1178px;
		    width: 100%;
		    float: left;

		    .panel{
		    	@include box-shadow(  0px, 2px, 5px, 0px, rgba(200, 200, 200, 0.75));

		    	.panel-heading{
		    		font-weight: bold;
				    letter-spacing: 0.4px;
				    font-size: 15px;
				    color: #212121;
				    line-height: 32px;
    				height: 54px;

				    .icon{
				    	font-size: 33px;
					    color: #69F0AE;
					    float: left;
					    margin: 0 7px 0 -7px;
				    }
		    	}
		    }


		    .form-horizontal{
		    	.form-group{
		    		 margin:0 0 10px 0;

		    		label{
		    			font-weight: 600;
					    letter-spacing: 0.2px;
					    font-size: 12px;
					    color: #5D5D5D;

		    		}
		    		.form-input{
		    			    width: 100%;
						    border: 0;
						    padding: 8px 10px;
						    background: #EEEEEE;
						    border-radius: 0px;
						    border-bottom:1px solid #EEEEEE;
						    @include box-shadow(  0px, 2px, 5px, 0px, rgba(150, 150, 150, 0.5));
						    @include all-transition();
		    		}

		    		.btn-submit{
		    			background: #42A5F5;
					    color: #E3F2FD;
					    width: 100%;
					    margin-top: 10px;
					    @include box-shadow(  0px, 2px, 5px, 0px, rgba(150, 150, 150, 0.5));
						@include all-transition();
		    		}

		    		.btn-submit:hover,
		    		.btn-submit:focus,
		    		.btn-submit:visited
		    		{
		    			background:#2196F3;
		    		}

		    		.form-input:hover,
		    		.form-input:focus,
		    		.form-input:visited{
		    			outline:0;
		    			border-bottom:1px solid #00FF14;
		    		}
		    	}
		    }
    	}
	}
}

